{{ define "main" }}
	<div id="page-wrapper">

		<!-- Header -->
			<div id="header-wrapper">
				<div id="header">

					{{ partial "logo.html" . }}

					{{ partial "nav.html" . }}

					<!-- {{ partial "intro.html" . }} -->

				</div>
			</div>

		<!-- Main -->
			<div id="main-wrapper">
				<div class="container">

          {{ $eventItems := where .Site.Pages "File.Dir" "in" .Site.Params.Event.foldername }}
          {{ if $eventItems }}
					<div class="row">
						<div class="12u">
							{{ partial "event.html" . }}
						</div>
					</div>
					{{ end }}
				</div>
			</div>

			{{ partial "footer/index.html" . }}

	</div>

	{{ partial "scripts/index.html" . }}

{{ end }}
